<h1><%%= t('new') %> <%= singular_table_name.titleize %></h1>

<%%= form_for(@<%= singular_table_name %>, url:<%= plural_table_name %>_path( locale: I18n.locale) ) do |f| %>

  <%%= render 'form',  f: f %>

  <div class="form-group">
    <%%= f.submit t('.create') %>
  </div>
  <%% end %>

<%%= link_to t('back'), <%= index_helper %>_path(locale:I18n.locale) %>
